@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>You are NOT logged in</title>
    </head>
    <body>
        <div>
            You are NOT logged in  
        </div>
    </body>
</html>